@import './../../assets/colors.scss';
.friends {
  border-radius: 8px;
  background-color: white;
  box-shadow: $shadow;
  width: 80%;
  padding: 20px;
}
.friend {
  display: flex;
  flex-direction: row;
  color: $rifle-green;
  font-weight: 500;
  border-bottom: 1px $coffee solid;
  text-decoration: none;
  padding: 10px 0 10px 0;
  align-items: center;
  margin: 10px;
}
.avatar {
  width: 50px;
  margin-right: 10px;
  border-radius: 50%;
}
