.buttons {
  display: flex;
  flex-direction: column;
}
.location {
  font-size: 14px;
  font-weight: normal;
  margin-top: 6px;
}
.number {
  margin-top: 10px;
}

.selectedPage {
  font-weight: bold;
}
