@import '../../../../../assets/colors.scss';
.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatar {
  border-radius: 50%;
  width: 50px;
  margin-right: 14px;
  box-shadow: $ava-shadow;
}
.postElement {
  padding: 14px;
}
.like {
  width: 24px;
  margin-right: 14px;
}
.block {
  display: flex;
  flex-direction: row;
  align-items: center;
}
