@import '../../assets/colors.scss';
.header {
  grid-area: header;
  background-color: $green;
  height: 40px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  align-items: center;
  font-family: 'Arizonia', cursive;
  font-size: 26px;
  color: white;
}
.logo {
  height: 24px;
}
.h1 {
  flex-grow: 1;
}
.loginBlock {
  margin-right: 20px;
}
.logout {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 2px;
  &:hover {
    cursor: pointer;
    color: $rifle-green;
    border: 1px solid $rifle-green;
    background-color: #9bd2b7;
  }
}
.languages {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 2px;
  &:hover {
    cursor: pointer;
  }
}
.language {
  color: rgb(0, 0, 0);
}
