.magnifier {
  width: 20px;
}
.root {
  width: auto;
  display: flex;
  align-items: center;
  padding: 20px 20x;
  margin-bottom: 20px;
}
.input {
  margin-left: 20px;
  flex: 1;
}
.nav {
  text-decoration: none;
}
