@import '../../assets/colors.scss';

.nav {
  grid-area: nav;
  line-height: 34px;
}
.icon {
  width: 24px;
  margin-right: 10px;
}
.link {
  border-radius: 4px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $rifle-green;
  &:hover {
    background-color: $coffee-colored;
  }
}
.li {
  margin-bottom: 20px;
}

.active {
  color: $green;
}
