@import '../../../assets/colors.scss';

.dialogs {
  display: grid;
  grid-template-columns: 3fr 12fr;
}
.dialogsItems {
  color: $rifle-green;
  font-weight: 500;
  border-right: 1px $coffee solid;
}
.messages {
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
}

.messageItem {
  margin: 8px;
  padding: 0.5em 1em;
  border-radius: 12px;
  background-color: $green-transparent;
  width: fit-content;
}

.enterMessage {
  display: flex;
  flex-direction: row;
}

.messagesElement {
  margin-bottom: 20px;
}
