@import './../../assets/colors.scss';

.dialogs {
  display: grid;
  grid-template-columns: 3fr 12fr;
  border-radius: 8px;
  background-color: white;
  box-shadow: $shadow;

  .dialogsItem {
    color: $rifle-green;
    font-weight: 500;
    border-right: 1px $coffee solid;
  }
}

.messages {
  padding-top: 17px;
}
